.body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 1080px;
  min-height: 320px;
  height: 100vh;
  width: fit-content;
  overflow-y: hidden;
  overflow-x: scroll;
}