.presentation__title{
  font-family: aller_regular, arial, sans-serif;
  font-size: 17px;
  line-height: 21px;
  font-weight: normal;
  color: #FFF;
  margin: 0;
}

@media screen and (max-height: 800px) {
  .presentation__title{
    font-size: 14px;
    line-height: 18px;
  }
}