.VR-integr__title{
  margin: 0;
  padding: 47vh 0 0 30px;
  font-family: 'Didot W01 Roman', serif;
  font-size: 76px;
  line-height: 65px;
  font-weight: normal;
  color: #FFF;
}

@media screen and (max-height: 800px) {
  .VR-integr__title{
    font-size: 66px;
    line-height: 55px;
  }
}

@media screen and (max-height: 600px) {
  .VR-integr__title{
    font-size: 51px;
    line-height: 45px;
  }
}