.footer__subtitle{
  font-family: aller_regular, arial, sans-serif;
  font-size: 17px;
  line-height: 21px;
  font-weight: normal;
  color: #666;
  margin: 0;
  font-style: normal;
  margin: 0 0 70px;
}