.footer__link{
  color: #CCC;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  font-family: inherit;
  vertical-align: baseline;
  font-family: aller_regular, arial, sans-serif;
}