.vrstudy__subtitle{
  font-family: aller_regular, arial, sans-serif;
  font-size: 17px;
  line-height: 21px;
  font-weight: normal;
  color: #FFF;
  margin: 0;
  max-width: 640px;
  padding: 0 0 0 30px;
}